header {
	font-family: 'Roboto Condensed';
}

header a h1 {
	color: white;
}

header a:hover {
	text-decoration: none;
}

@media (max-width: 768px) {
	.jumbotron {
		padding: 0;
	}
	h1.display-3 {
		padding: 0;
		font-size: 40px;
	}
}